DEVE/services/newcusomer_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="newcusomer"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="newcusomerOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="newcusomerOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Department"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="EmployeeID"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="FirstName"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="LastName"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Salary"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="newcusomerOperationRequest">
		<wsdl:part name="parameters" element="tns:newcusomerOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="newcusomerOperationResponse">
		<wsdl:part name="parameters" element="tns:newcusomerOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="newcusomerPortType">
		<wsdl:operation name="newcusomerOperation">
			<wsdl:input message="tns:newcusomerOperationRequest"></wsdl:input>
			<wsdl:output message="tns:newcusomerOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="newcusomerBinding" type="tns:newcusomerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="newcusomerOperation">
			<soap:operation soapAction="http://www.talend.org/service/newcusomerOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="newcusomer">
		<wsdl:port name="newcusomerPort" binding="tns:newcusomerBinding">
			<soap:address location="http://localhost:8090/services/newcusomer" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>