DEVE/services/Productcatalog_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Productcatalog"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="ProductcatalogOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ProductcatalogOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ProductcatalogOperationRequest">
		<wsdl:part name="parameters" element="tns:ProductcatalogOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ProductcatalogOperationResponse">
		<wsdl:part name="parameters" element="tns:ProductcatalogOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ProductcatalogPortType">
		<wsdl:operation name="ProductcatalogOperation">
			<wsdl:input message="tns:ProductcatalogOperationRequest"></wsdl:input>
			<wsdl:output message="tns:ProductcatalogOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ProductcatalogBinding" type="tns:ProductcatalogPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ProductcatalogOperation">
			<soap:operation soapAction="http://www.talend.org/service/ProductcatalogOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Productcatalog">
		<wsdl:port name="ProductcatalogPort" binding="tns:ProductcatalogBinding">
			<soap:address location="http://localhost:8090/services/Productcatalog" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>