DEVE/services/productcatalogSOAP_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="productcatalogSOAP"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="productcatalogSOAPOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customer_id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="productcatalogSOAPOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customer_id"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="name" type="xsd:string">
						</xsd:element>
						<xsd:element name="email" type="xsd:string">
						</xsd:element>
						<xsd:element name="address" type="xsd:string">
						</xsd:element>
						<xsd:element name="Phone"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="productcatalogSOAPOperationRequest">
		<wsdl:part name="parameters" element="tns:productcatalogSOAPOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="productcatalogSOAPOperationResponse">
		<wsdl:part name="parameters" element="tns:productcatalogSOAPOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="productcatalogSOAPPortType">
		<wsdl:operation name="productcatalogSOAPOperation">
			<wsdl:input message="tns:productcatalogSOAPOperationRequest"></wsdl:input>
			<wsdl:output message="tns:productcatalogSOAPOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="productcatalogSOAPBinding" type="tns:productcatalogSOAPPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="productcatalogSOAPOperation">
			<soap:operation soapAction="http://www.talend.org/service/productcatalogSOAPOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="productcatalogSOAP">
		<wsdl:port name="productcatalogSOAPPort" binding="tns:productcatalogSOAPBinding">
			<soap:address location="http://localhost:8090/services/productcatalogSOAP" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>