DEVE/services/simplejob_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="simplejob"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="simplejobOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="simplejobOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="simplejobOperationRequest">
		<wsdl:part name="parameters" element="tns:simplejobOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="simplejobOperationResponse">
		<wsdl:part name="parameters" element="tns:simplejobOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="simplejobPortType">
		<wsdl:operation name="simplejobOperation">
			<wsdl:input message="tns:simplejobOperationRequest"></wsdl:input>
			<wsdl:output message="tns:simplejobOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="simplejobBinding" type="tns:simplejobPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="simplejobOperation">
			<soap:operation soapAction="http://www.talend.org/service/simplejobOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="simplejob">
		<wsdl:port name="simplejobPort" binding="tns:simplejobBinding">
			<soap:address location="http://localhost:8090/services/simplejob" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>