AA_TESTING/services/new_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="new"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="newOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="newOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="newOperationRequest">
		<wsdl:part name="parameters" element="tns:newOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="newOperationResponse">
		<wsdl:part name="parameters" element="tns:newOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="newPortType">
		<wsdl:operation name="newOperation">
			<wsdl:input message="tns:newOperationRequest"></wsdl:input>
			<wsdl:output message="tns:newOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="newBinding" type="tns:newPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="newOperation">
			<soap:operation soapAction="http://www.talend.org/service/newOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="new">
		<wsdl:port name="newPort" binding="tns:newBinding">
			<soap:address location="http://localhost:8090/services/new" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>