AA_TESTING/services/TestingSOAP_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TestingSOAP"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="TestingSOAPOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TestingSOAPOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="TestingSOAPOperationRequest">
		<wsdl:part name="parameters" element="tns:TestingSOAPOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TestingSOAPOperationResponse">
		<wsdl:part name="parameters" element="tns:TestingSOAPOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="TestingSOAPPortType">
		<wsdl:operation name="TestingSOAPOperation">
			<wsdl:input message="tns:TestingSOAPOperationRequest"></wsdl:input>
			<wsdl:output message="tns:TestingSOAPOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TestingSOAPBinding" type="tns:TestingSOAPPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="TestingSOAPOperation">
			<soap:operation soapAction="http://www.talend.org/service/TestingSOAPOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TestingSOAP">
		<wsdl:port name="TestingSOAPPort" binding="tns:TestingSOAPBinding">
			<soap:address location="http://localhost:8090/services/TestingSOAP" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>