DEVE/services/service_mp/emply_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="emply"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="emplyOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="emplyOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="emplyOperationRequest">
		<wsdl:part name="parameters" element="tns:emplyOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="emplyOperationResponse">
		<wsdl:part name="parameters" element="tns:emplyOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="emplyPortType">
		<wsdl:operation name="emplyOperation">
			<wsdl:input message="tns:emplyOperationRequest"></wsdl:input>
			<wsdl:output message="tns:emplyOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="emplyBinding" type="tns:emplyPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="emplyOperation">
			<soap:operation soapAction="http://www.talend.org/service/emplyOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="emply">
		<wsdl:port name="emplyPort" binding="tns:emplyBinding">
			<soap:address location="http://localhost:8090/services/emply" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>