DEVE/services/service_mp/testwdl1_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="testwdl1"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="testwdl1OperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testwdl1OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Customer_id"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="Name" type="xsd:string">
						</xsd:element>
						<xsd:element name="Address" type="xsd:string">
						</xsd:element>
						<xsd:element name="Email" type="xsd:string">
						</xsd:element>
						<xsd:element name="Phone"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="testwdl1OperationRequest">
		<wsdl:part name="parameters" element="tns:testwdl1OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testwdl1OperationResponse">
		<wsdl:part name="parameters" element="tns:testwdl1OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="testwdl1PortType">
		<wsdl:operation name="testwdl1Operation">
			<wsdl:input message="tns:testwdl1OperationRequest"></wsdl:input>
			<wsdl:output message="tns:testwdl1OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="testwdl1Binding" type="tns:testwdl1PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="testwdl1Operation">
			<soap:operation soapAction="http://www.talend.org/service/testwdl1Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="testwdl1">
		<wsdl:port name="testwdl1Port" binding="tns:testwdl1Binding">
			<soap:address location="http://www.example/services/testwdl1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>