DEVE/services/service_mp/testwsdl_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="testwsdl"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="testwsdlOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testwsdlOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Customer_id"
							type="xsd:int">
						</xsd:element>

						<xsd:element name="Name" type="xsd:string">
						</xsd:element>
						<xsd:element name="Email"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Address" type="xsd:string">
						</xsd:element>
						<xsd:element name="Phone" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="testwsdlOperationRequest">
		<wsdl:part name="parameters" element="tns:testwsdlOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testwsdlOperationResponse">
		<wsdl:part name="parameters" element="tns:testwsdlOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="testwsdlPortType">
		<wsdl:operation name="testwsdlOperation">
			<wsdl:input message="tns:testwsdlOperationRequest"></wsdl:input>
			<wsdl:output message="tns:testwsdlOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="testwsdlBinding" type="tns:testwsdlPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="testwsdlOperation">
			<soap:operation soapAction="http://www.talend.org/service/testwsdlOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="testwsdl">
		<wsdl:port name="testwsdlPort" binding="tns:testwsdlBinding">
			<soap:address location="http://www.example.services/testwsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>